body {background-color:peachpuff;
     font-family:sans-serif, Arial, Helvetica;
     color:#333;
     max-width: 800px;
     padding:20px;
     margin:auto;}

h1 {color: rgb(48, 48, 117);
   font-size: 45px;
   text-align:center;
   margin-bottom:5px;}

h2 {color:#444;
   font-size:30px;
   margin-bottom: auto;}

p {line-height:1.3em;
  font-size:18px;
  margin-bottom:15px;}

img {display:block;
    margin:auto;
    padding: 15px;
    margin-bottom:20px;
    border-radius:30px;}

ul {list-style-type:none;
   padding: 0 20px;}

li {margin-bottom: 10px;
   font-size:25px;}

a {color:rgb(48, 48, 117);
  text-decoration:none;}

a:hover {color:orange;
        text-decoration:underline;}